<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GETTO v0.0</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Gymplácká Evidence Totálně Transparentních Obligací</h1>
        <% users.forEach(user =>{ %>
            <a href="/users/<%= user.id %>" class="btn btn-light"><h4><%= user.name %></h4></a>
        <% }) %>
    
    </div>
    
</body>
</html>